/* form {
   gap: 20px;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
} */

code {
   padding: 10px;
   display: block;
   background: silver;
}

progress {     
   width: 100%;
   height: 30px; 
}

progress[value]::-webkit-progress-bar { border-radius: 0; }
progress[value]::-webkit-progress-value { border-radius: 0; }