@import url("./@index.css");

.vscode-dark pre { background-color: #333 !important; }

[review] h3 { margin-bottom: 5px; }
[review] table { width:100% }
[review] table td:not(:first-of-type) {
   font-weight: 1 !important;
}
[center] { 
   display:grid; 
   text-align:center; 
   justify-content:center; 
}

[preview] h3 {
   margin-bottom: 5px;
}

[preview] table td:not(:first-of-type) {
   font-weight: 1 !important;
}

[preview] table { width:100% }

[center] { text-align:center; display:grid; justify-content:center; }