@import url("./@index.css");

small { color:grey !important;  }

code { 
   font-family: var( --code-font) !important; 
   background:transparent !important;  
} 

blockquote {
   border: 0 !important;
   color: grey !important;
   font-size: 1rem !important;
   text-align: right !important;
   margin-top: -67px !important;
   margin-bottom: 25px !important;
   font-stretch: condensed !important; 
   border-bottom: solid 0px #333 !important;
}

[overview] {
   & pre { line-height: 50px; }
   & li { list-style-type: none;}
   & p { font-size: 1.1em; }
}


[left] { text-align: left; }
[right] { text-align: right; }
[none] li { 
   list-style-type: none; 
   margin-left:-60px;
}
[alternative] li { opacity: 0.8; }
[cancel] * { text-decoration: line-through; }

h2 { font-size: 3rem !important; padding:0 !important; }
h1, h2 { font-family: 'fira sans'; font-weight: 1; }

blockquote { 
   font-size: 1.3em !important; 
   margin-top: -75px !important;
}