@import url('https://fonts.cdnfonts.com/css/agave');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=family=Quicksand:wght@300;400;500;600;700&display=swap');

body, section { 
   font-family: 'fira sans'; 
   font-weight: 300; 
   color: #EEE;
}

strong { color: #E3E3E3; }

[text] { padding-right:20px; }

[cols] { display:grid }
[cols='2'] { grid-template-columns: 1fr 1fr; }
[cols='2:5'] { grid-template-columns: 2fr 5fr; }
[cols='3:5'] { grid-template-columns: 3fr 5fr; }
[cols='4:5'] { grid-template-columns: 4fr 5fr; }

img[src$='reactful.png'] { width:100px; margin:0 auto; }

h1 { 
   font-size: 3em !important; 
   color: wheat !important; 
   font-weight:100 !important; 
}

h2 { 
   font-weight: 100 !important; 
   font-size: 1.6em !important; 
   color: wheat !important;  
   border-bottom: solid 1px !important;
}

code { font-family: 'agave' !important }

h2:before, h3:before { content:'' !important }
h2 code { 
   color: wheat !important;
   background: transparent !important;
   font-size: 1.1em !important; 
   padding: 0 !important;
}

h3 { font-weight:100 !important; font-size: 1.3em !important; }
h3 code { background:transparent !important; font-size:1.1em !important; }
h3 code { padding: 0 !important; color:wheat !important; }

p, li { color: silver !important; }

strong { font-weight:500 !important; }

table th { border:0; color:wheat; }
table th { font-weight:100; font-size: 1.3em; }
table th { border-bottom-color:white; }
table tr td:not(:first-of-type) { font-weight:100 !important }
table td, table tr { border:0 !important }
table * { background-color: transparent !important }
aside p { padding-right: 50px !important; }

[text] h3 { margin-top: -10px !important; }

center h2 { font-size: 2.3em  !important; }

blockquote { 
   margin-top:-70px !important;
   margin-right: -30px !important;
   margin-bottom: 40px !important;
   text-align: right !important;
   border:0 !important;
}