@import url(../preview.css);

div[title] { margin-top:-19px; }

/* h1[title] {
   border:0;
   margin-top:-10px;
   margin-bottom: 10px;
} */

h1[title] {
   border: 0;
   margin-top: -110px;
   margin-bottom: 57px;
}

h2 {
   color: wheat !important;
   border-bottom-width: 1px;
   border-bottom-color: #555 !important;
}

embed { height: 110px; }

header {   
   margin-bottom: 20px;
   margin-top: -65px;
   font-size: 2rem;
   text-align: center;
   color: wheat;

}

blockquote {
   font-size: 13px !important;
   text-align: center;
   margin-top: -15px;
   margin-left: -3px;   
   line-height: 20px;
}

[menu-top] { margin-bottom: -5px; }