<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="Home page">
      <meta name="theme-color" content="#333">
      <link rel="stylesheet" href="/assets/markdown.css">
      <link rel="stylesheet" href="/assets/default.css">
      <link rel="manifest" href="/assets/manifest.json">
      <title>Welcome</title>
      <meta name='viewport' content='width=device-width, initial-scale=1.0' />
      <meta name='description' content='Home page' />
      <meta name='theme-color' content='#333' />
      <meta name='title' content='Welcome' />
   <script src='/mnt/b/Repositorios/reactful/experiment/builds/shared.js'></script>
      <script type='module' src='/mnt/b/Repositorios/reactful/experiment/builds/bundle.js'></script></head>
   <body>
      <div id='root'>
         <div tag="TimeZone" uid="3" own="default$" fallback="[object Object]" class="default"
            retry="/clock" hidden>
            <h1>500</h1>
            <ul>
               <li>Was there a typo in the url or port?</li>
            </ul>
         </div>
      </div>
   </body>
</html>