<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="Home page">
      <meta name="theme-color" content="#333">
      <link rel="stylesheet" href="/assets/markdown.css">
      <link rel="stylesheet" href="/assets/default.css">
      <link rel="manifest" href="/assets/manifest.json">
      <title>Welcome</title>
      <meta name='viewport' content='width=device-width, initial-scale=1.0' />
      <meta name='description' content='Home page' />
      <meta name='theme-color' content='#333' />
      <meta name='title' content='Welcome' />
   <script src='/mnt/b/Repositorios/reactful/experiment/builds/shared.js'></script>
      <script type='module' src='/mnt/b/Repositorios/reactful/experiment/builds/bundle.js'></script></head>
   <body>
      <div id='root'>
         <h1 tag="h1" uid="3" class="System">Server OS</h1>
         <h2 tag="h2" uid="5" class="System">server side information</h2>
         <pre tag="pre" uid="7"
            class="System">Linux<!-- --> | <!-- -->x64<!-- --> | <!-- -->5.15.133.1-microsoft-standard-WSL2<!-- --> </pre>
         <section tag="section" uid="9" class="System" hidden>DONT SHOW ME!</section>
      </div>
   </body>
</html>